html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
font-family:"Times New Roman";
}

header h1{
	font-size: 4em;
}

#content .card{
	background-color: #fff;
	height:300px;
	width:80%;
	margin:0 auto;
	border:1px solid #dddddd;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
.card .title{
	height:30px;
	background-color:#5DB665;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	line-height: 30px;
	padding:0 10px;
}

#animation1{
	height:200px;
	width:200px;
	margin:0 auto;
	background: slategray;
}

#animation1:hover{
	animation:animation1 2s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
	-moz-animation:animation1 2s;
	-webkit-animation:animation1 2s；
	-o-animation:animation1 2s;
}

@keyframes animation1{
	0% {
		background-color: slategray;
	}
	100%{
		background-color: red;
	}
}

@-webkit-keyframes animation1{
	0% {
		background-color: slategray;
	}
	100%{
		background-color: red;
	}
}
@-o-keyframes animation1{
	0% {
		background-color: slategray;
	}
	100%{
		background-color: red;
	}
}
@-moz-keyframes animation1{
	0% {
		background-color: slategray;
	}
	100%{
		background-color: red;
	}
}



#animation2{
	width:200px;
	height:200px;
	margin:0 auto;
	background-image:linear-gradient(135deg,transparent 25%,black 25%,black 50%,transparent 50%,transparent 75%, black 75%,black);
	background-size: 50%,50%;
	background-position: 0,0;
}

#animation2:hover{
	animation: animation2 1s;
	-webkit-animation:animation2 1s;
	-o-animation:animation2 1s;
	-moz-animation:animation2 1s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}

@keyframes animation2{
	form{
		background-position: 0,0;
	}
	to{
		background-position: 100%,100%;
	}
}
@-moz-keyframes animation2{
	form{
		background-position: 0,0;
	}
	to{
		background-position: 100%,100%;
	}
}
@-webkit-keyframes animation2{
	form{
		background-position: 0,0;
	}
	to{
		background-position: 100%,100%;
	}
}

@-o-keyframes animation2{
	form{
		background-position: 0,0;
	}
	to{
		background-position: 100%,100%;
	}
}



#animation3{
	width:200px;
	height:200px;
	margin:0 auto;
	background-position: center;
	background-size: 200px,200px;
	background-image: repeating-radial-gradient(transparent, transparent 9px, black 11px, black 20px);
}

#animation3:hover{
	animation: animation3 1s;
	-webkit-animation:animation3 1s;
	-o-animation:animation3 1s;
	-moz-animation:animation3 1s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}

@keyframes animation3{
	form{
		background-size: 200px,200px;
	}
	to{
		background-size: 25px,25px;
	}
}
@-moz-keyframes animation3{
	form{
		background-size: 200px,200px;
	}
	to{
		background-size: 25px,25px;
	}
}
@-webkit-keyframes animation3{
	form{
		background-size: 200px,200px;
	}
	to{
		background-size: 25px,25px;
	}
}

@-o-keyframes animation3{
	form{
		background-size: 200px,200px;
	}
	to{
		background-size: 25px,25px;
	}
}




#animation4{
	width:200px;
	height:200px;
	margin:0 auto;
	border-radius:0;
	background-color:#dddddd;
}

#animation4:hover{
	animation: animation4 1s;
	-webkit-animation:animation4 1s;
	-o-animation:animation4 1s;
	-moz-animation:animation4 1s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}

@keyframes animation4{
	form{
		border-radius:0;
	}
	to{
		border-radius: 50%;
	}
}
@-moz-keyframes animation4{
	form{
		border-radius:0;
	}
	to{
		border-radius: 50%;
	}
}
@-webkit-keyframes animation4{
	form{
		border-radius:0;
	}
	to{
		border-radius: 50%;
	}
}

@-o-keyframes animation4{
	form{
		border-radius:0;
	}
	to{
		border-radius: 50%;
	}
}



#animation5{
	width:200px;
	height:200px;
	margin:0 auto;
	transform:rotate(0deg);
	background-color:#dddddd;
}

#animation5:hover{
	animation: animation5 1s;
	-webkit-animation:animation5 1s;
	-o-animation:animation5 1s;
	-moz-animation:animation5 1s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}

@keyframes animation5{
	form{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
@-moz-keyframes animation5{
	form{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
@-webkit-keyframes animation5{
	form{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}

@-o-keyframes animation5{
	form{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}

