<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Angular</title>
    <script src="angular.min.js" type="text/javascript"></script>
</head>
<body>
	<!--
	
	<div ng-app="">
		<input type="text" ng-model="name" />
		<p ng-bind="name"></p>
	</div>


	<div data-ng-app="" data-ng-init="firstName='John'">
		<p>
			<span data-ng-bind="firstName"></span>
		</p>
	</div>
	<div ng-app="">
		表达式 {{5+5}}
	</div>

	<div ng-app="" ng-init="a=2;b=5"> 
	表达式{{a*b}}
</div>

<div ng-app="" ng-init="a=3;b=5">
		表达式<span ng-bind="a*b"></span>
	</div>

	<div ng-app="" ng-init="firstName='John';lastName='Doe'">
	<span>字符串：{{firstName + ' '+ lastName}}</span>
</div>

<div ng-app="" ng-init="firstName='John';lastName='Doe'">
	字符串：<span ng-bind="firstName + ' '+ lastName"></span>
</div>

<div ng-app="" ng-init="person={name:'John',age:'21'}">
	<span>姓名：{{person.name}}</span>
</div>
<div ng-app="" ng-init="person={name:'John',age:'21'}">
	姓名：<span ng-bind="person.name"></span>
</div>
<div ng-app="" ng-init="personList=['John','Anna','E']">
	{{personList[1]}}
</div>
<div ng-app="" ng-init="number=2;price=4">
	数量:<input type="text" ng-model="number"/>
	价格:<input type="text" ng-model="price"/>
	<p>总价:{{number * price}}</p>
</div>

<div ng-app="" ng-init="number=2;price=4">
	数量:<input type="text" ng-model="number"/>
	价格:<input type="text" ng-model="price"/>
	总价:<span ng-bind="number * price"></span>
</div>
<ul ng-app="" ng-init="personList=['aa','bb','cc','dd']">
	<li ng-repeat="x in personList">
		{{x}}
	</li>
</ul>

<ul ng-app="" ng-init="names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">
	<li ng-repeat="x in names">
		姓名:{{x.name}}     国家:{{x.country}}
	</li>
</ul>


<div ng-app="" ng-controller="personController">
	<input type="text" ng-model="person.firstNme"/>
	<input type="text" ng-model="person.lastName"/>

	姓名：{{person.firstNme + " " + person.lastName}}
</div>

<script>
function personController($scope){
	$scope.person = {
		firstNme:"aa",
		lastName:"bb"
	}
}
</script>




<div ng-app="" ng-controller="personController">
	<input type="text" ng-model="person.firstNme"/>
	<input type="text" ng-model="person.lastName"/>
	姓名：{{fullName()}}
</div>

<script>
function personController($scope){
	$scope.person = {
		firstNme:"aa",
		lastName:"bb"
	};
	$scope.fullName = function(){
		return $scope.person.firstNme + ' ' + $scope.person.lastName;
		}	
}
</script>





<div ng-app="" ng-controller="personController">
	<input type="text" ng-model="person.firstNme"/>
	<input type="text" ng-model="person.lastName"/>
	姓名：{{person.fullName()}}
</div>
<script src="personController.js" type="text/javascript"></script>
-->

<!--controller-->

<div ng-app="" ng-controller="namesController">
	<input type="text" ng-model="name"/>
	<ul>
		<li ng-repeat="x in names | filter:name | orderBy : 'age' ">
			<span>姓名：{{x.name | uppercase}}</span>
			<span>姓名：{{x.age}}</span>
		</li>

	</ul>

</div>
<script src="personController.js" type="text/javascript"></script>

</body>
</html>